@import '../../assets/styles/variables';

.navigation {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 40px;
    margin: 0;
  }

  &__list-item {
    font-size: 16px;

    a {
      color: $light-color;
      font-weight: 500;
      transition: .2s;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}