@import '../../assets/styles/variables';

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background: #2b4236;

  &__title {
    font-size: 12px;
    color: $light-color;
    margin: 0;
    font-weight: 300;
  }
}
