@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'EUkraine';
  src: url('../fonts/e-Ukraine-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'EUkraine';
  src: url('../fonts/e-Ukraine-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'EUkraine';
  src: url('../fonts/e-Ukraine-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'EUkraine';
  src: url('../fonts/e-Ukraine-Light.otf');
  font-weight: 300;
}

