// $main-color: #009963;
$main-color: #588157;
$main-color--dark: #344E41;
// $secondary-color: #A1824A;
$secondary-color: #99B685;
// $dark-color: #1C170D;
$dark-color: #0A122A;
// $light-color: #FAFAFf;
$light-color: #FBFAF8;