@import '../../assets/styles/variables';

.contacts {
  padding: 40px 20px;

  &__title {
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 30px;
    color: $dark-color;

    @media (max-width: 768px) {
      font-size: 26px;
    }

    @media (max-width: 480px) {
      font-size: 24px;
      margin: 0 0 20px;
    }

    @media (max-width: 374px) {
      font-size: 22px;
    }
  }

  &__wrapper {
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__right {
    width: 50%;
    border-radius: 10px;
    overflow: hidden;

    & > div {
      height: 290px !important;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__left-item {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba($main-color, 0.3);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__left-item-title {
    color: $main-color;
    margin: 0;
    font-size: 16px;

    @media (max-width: 480px) {
      font-size: 14px;
    }

    @media (max-width: 336px) {
      font-size: 12px;
    }
  }

  &__left-item-content {
    color: $dark-color;
    font-size: 14px;
    text-align: right;

    @media (max-width: 960px) {
      min-width: 182px;
      max-width: 240px;
    }

    @media (max-width: 374px) {
      font-size: 12px;
      min-width: 157px;
    }
    
    & > div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 16px;

      @media (max-width: 374px) {
        gap: 8px;
      }
    }

    a {
      color: $dark-color;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &__left-item-content-time {
    min-width: 41px;
    max-width: 41px;
    display: inline-block;
    text-align: right;

    @media (max-width: 374px) {
      min-width: 35px;
      max-width: 35px;
    }
  }

  &__left-item-content-social {
    width: 20px;
    display: inline-block;
    margin-right: 16px;

    svg {
      width: 100%;
      
      path {
        transition: 0.2s;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      svg {
        path {
          fill: $secondary-color;
          stroke: $secondary-color;
        }
      }
    }
  }
}
